@import '~antd/dist/antd.css';
html {
  scroll-behavior: smooth;
}
/**
 * Site header
 */
.site-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 26px;
  min-height: 2em;
  position: relative;
}

.site-title {
  align-content: center;
  border: none;
  color: black;
  display: flex;
  flex-direction: row;
  float: left;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 0;
  text-decoration: none;
  width: min-content;
  outline: none;
}

.site-title:hover {
  color: black;
}

.tooltip {
  float: right;
  justify-self: flex-end;
  position: absolute;
  right: 5%;
  font-weight: 350;
}

a.tooltip {
  color: black;
  font-size: max(3vmin, 14px);
}

.main-contents {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

.home {
  min-height: 82vh;
}

.intro,
.page {
  padding-top: 5vh;
  padding-bottom: 5vh;
  width: 100%;
  text-align: center;
  color: black;
}

.page,
.explanation {
  padding-left: 5%;
  padding-right: 5%;
}

.home-down {
  margin-top: 10vh;
}

h3 {
  font-weight: 400;
}
.highlight {
  background-color: hsl(160, 38%, 83%);
  padding-left: 0.3em;
  padding-right: 0.3em;
  border-radius: 4px;
}
.main {
  display: flex;
  min-height: 90vh;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
}

h1 {
  font-weight: 700;
}

.intro h1 {
  font-size: 5em;
}

.intro h2 {
  font-size: 2em;
  font-weight: 500;
}

.page h1 {
  font-size: 3.5em;
}

.page h2 {
  font-size: 1.5em;
}

.x {
  color: rgb(128, 128, 128)
}

.offset {
  background-color: white;
  border: 1.5px solid rgb(68, 150, 122);
  color: black;
  display: flex;
  justify-content: center;
  flex: 1;
  font-size: 16px;
  padding: 0.5em 1em;
  text-align: center;
  transition: all 0.1s ease-in-out;
  width: 100%;
}

.offset:hover {
  background-color: hsl(160, 38%, 93%);
  box-shadow: 0.2em 0.1em 0 0 #44967a;
  color: black;
  text-decoration: none;
}

.offset:focus {
  outline: 0;
}

.wrapper {
  padding: 2%;
}

.ant-col {
  width: 80%;
}

/* Visualize */

.ascii-phylo {
  margin: 4vmin;
  font-family: monospace;
  white-space: pre;
}

.ascii-phylo-container {
  background-color: #eeeeee;
  max-width: 125vw;
  max-height: 95vh;
  overflow-x: auto;
  overflow-y: auto;
  margin-top: 5vmin;
}

.centered-content {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 1vmin;
  padding-bottom: 1vmin;
  width: 100%;
}

.horizontally-centered {
  justify-content: center;
  padding-top: 1vmin;
  padding-bottom: 1vmin;
  width: 100%;
}

.example-credits {
  font-size: 1.5em;
  padding-left: 2vmin;
}

.example-text {
  margin-bottom: 2vmin;
}

.upload-text {
  margin-top: 2vmin;
  margin-bottom: 2vmin;
}

h3 {
  font-size: 1.25em;
}

.ant-popover-inner {
  max-width: 35vw;
  margin-right: 10%;
}

/* Generate */

.generate-toggle {
  margin-top: 0.5vmin;
  margin-right: 1vmin;
}

.generate-info {
  margin-top: 0.5vmin;
  margin-left: 1vmin;
  margin-right: 1vmin;
}

.spinner {
  margin-left: 1vmin;
}

/* Subpages */
.radio-button {
  font-weight: bold;
}

.action-button {
  font-weight: bolder;
}

.hover-vocab {
  display: inline;
  text-decoration: underline;
}
